body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.year-section {
  margin: 20px 0;
}

a {
  color: #1db954;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
